<div class="container ">


    <div class="row">
        <div class="col-12 col-sm-12 py-5 px-5 ">
            <h1 class="text-center" style="padding: 1em 0px 0px 0px">Repositories</h1>
        </div>
    </div>
    <div class="row bg-light p-4">

        <%= form_tag("orgs/repos", remote:true ,method: "get", id:"find_form" , class:"w-100") do  %>
            <div class="row">
                <div class="col-3">
                    <select class="form-control" autofocus name="org_name" id="org_name">
                        <option selected value="">Choose organization...</option>
                        <% @orgs_name.each do |org|%>
                            <option value="<%=org%>"><%=org%></option>
                        <% end %>
                    </select>
                </div>

                <div class="col-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="start_date">Start date</label>
                        </div>

                        <input class="form-control" as="date" type="date" id="from" name="from">
                    </div>

                </div>
                <div class="col-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="end_date">End date</label>
                        </div>

                        <input class="form-control" as="date" type="date" id="until" name="until">
                    </div>

                </div>
                <div class="col-1">
                     <input id="find_button" type="submit" class="btn btn-primary" value="Find" data-disabled-with="Find">
                </div>
            </div>



        <% end %>



        <div id="list_repos" class=" col-12 py-5 px-5">

        </div>

    </div>


</div>



<br>
<% if false %>
<%= link_to 'New Repository', new_repository_path %>
<% end %>

<script>
    function show_repos(event, data){
        //data.repos contains partial rendered into string
        $("#list_repos").html(data.repos);


    }

    function display_error(event, data){

        console.log(data);
    }

    $(document).ready(function() {

        $('#find_form').on('ajax:success', show_repos)
        $('#find_form').on('ajax:error', display_error)



    });


</script>
