
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 py-5 px-5 ">
            <h1 class="text-center "><%= @repository.name %></h1>
            <p class="text-center"><%= @repository.description %></p>
        </div>
        <div class="col-sm-12">
            <h1><%= @id%></h1>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
                    <%= high_chart("some_id", @chart2) %>
        </div>
        <div class="col-sm-7 offset-sm-1 ">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center "> Colaboradores</div>

                    <ul class="list-group" data-spy="scroll" style="overflow: scroll; max-height: 300px;">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>


                </div>
            </div>
        </div>

    </div>


</div>
