<footer>
  <div class="container">
    <div class="row bg-light">

      <div class="col-xs-12 col-sm-4 col-md-4 py-3">
        <p class="h1">Repo <a style="color:#03A9F4">I</a><a>/</a><a style="color:#F44336">O</a></p>
        <h5 class="text-left" style="color:#424242">Proyecto Integrador 2019</h5>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 py-3">
				<h5 style="color:#424242">Develop</h5>
				<ul class="list-unstyled quick-links">
          <li><a href="https://github.com/ProyectoIntegrador2018/repo-io"><i class="fa fa-angle-double-right"></i>Repository</a></li>
          <li><a href="https://github.com/ProyectoIntegrador2018"><i class="fa fa-angle-double-right"></i>Organization</a></li>
          <li><a href="https://drive.google.com/drive/folders/1K7-i7_sWDcglDcQIgT5MQqzg0uxiZcvg"><i class="fa fa-angle-double-right"></i>Documentation</a></li>
				</ul>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 py-3">
        <h5 style="color:#424242">Client</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="mailto:kurenn@tec.mx"><i class="fa fa-angle-double-right"></i>Email</a></li>
        </ul>
      </div>

    </div>
    <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
    <p><strong>Argentum</strong> is the organization that developed developed the system only for non-profit use.</p>
    <p class="h6">&copy All right Reversed.<a class="ml-2" href="https://tec.mx/es" target="_blank">Tecnológico de Monterrey</a></p>
  </div>
</div>
  </div>
</footer>

<!-- <div class="container">
  <h3 class="text-left">Tecnológico de Monterrey</h3>
  <h6 class="text-left">Proyecto Integrador 2019</h6>
  <a href="https://github.com/ProyectoIntegrador2018/repo-io">Github </a>
</div> -->
