<section>
  <div class="container-fluid">
    <div class="row bg-light">
      <div class="col-12 col-sm-12 py-3">
        <div class="container">
          <h5 class="text-left">This is a Footer</h5>
          <h5 class="text-left">This is a Footer</h5>
        </div>
      </div>
    </div>
  </div>
</section>
