<% if current_user %>
<div>
<ul class="navbar navbar-light bg-white fixed-top">
    <div class="container">
      <div class="float-left">
        <a href="/repositories" class="navbar-brand mb-0 h1">Repo <span style="color:#03A9F4">I</span>/<span style="color:#F44336">O</span></a>
      </div>
        <div class=" float-right" >
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle h5" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <%= @username %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <%= button_to "Sign Out", signout_path, method: :delete, class: 'dropdown-item', type:'button' %>
              </div>
          </div>
        </div>
    </div>
</ul>
</div>
<% end %>
