<!DOCTYPE html>
<html>
	<%= render partial: '/layouts/head', locals: { manifest: 'application' } %>
  <body>
    <%= render 'layouts/navbar'%>
    <%= yield %>
		<%= render 'layouts/footer'%>
  </body>
</html>
